body::-webkit-scrollbar {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.v-btn {
  letter-spacing: 0 !important;
}

.relative-position {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}

//*Width And Height
.full-width {
  width: 100% !important;
}
.half-width {
  width: 50% !important;
}
.full-height {
  height: 100% !important;
}
.half-height {
  height: 50% !important;
}

.selected-btn {
  color: #ffffff;
  border-bottom: 2px solid #190098;
}

.font-100 {
  font-size: 100px !important;
}

.vue-typer {
  .char {
    color: white !important;
  }
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}
